* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin-top:5%;
  font-family: "Roboto Slab";
  font-size:28pt;
  text-align:center;
  width: 100%;
  animation: curtain normal forwards;
  animation-duration: 2s;
}

canvas {
  margin:auto;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  animation: canvas normal forwards;
  animation-duration: 2s;
}

#watermark { position: absolute; left: 0%; bottom: 0%; width:80% ; text-align: left;margin-right: 20%;font-size: 10vw; opacity: 0.2; }

a {
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}
a:link {
  color: YELLOW;
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}
/* visited link */
a:visited {
  color: DARKORANGE;
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}
/* mouse over link */
a:hover {
  color: ORANGE;
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}
/* selected link */
a:active {
  color: RED;
}

@keyframes curtain {
  0% {background-color: black; margin-top: 50%; color: BLACK}
  40% {background-color: black; color: BLACK}
  100% { }
}

@keyframes textColor {
  0% {color: black;}
  40% {color: black;}
  100% {}
}

@keyframes canvas {
  0% {opacity: 0;}
  40% {opacity: 0;}
  100% {opacity: 1;}
}
