* {
  margin: 0;
  padding: 0;
  animation-name: curtain;
  animation-duration: 2s;
  text-decoration: none;
}

body {
  margin-top:5%;
  font-family: "Roboto Slab";
  font-size:28pt;
  text-align:center;
  width: 100%;
}

a:link {
  color: YELLOW;
}
/* visited link */
a:visited {
  color: DARKORANGE;
}
/* mouse over link */
a:hover {
  color: ORANGE;
}
/* selected link */
a:active {
  color: RED;
}

@keyframes curtain {
  0% {background-color: black; margin-top: 50%; color: BLACK}
  40% {background-color: black; color: BLACK}
  100% {background-color: white; }
}

