@font-face {
  font-family: Roboto Slab;
  src: url('font/RobotoSlab-Medium.ttf');
  src: url('font/RobotoSlab-Thin.ttf');
  src: url('font/RobotoSlab-Bold.ttf');
  src: url('font/RobotoSlab-Black.ttf');
  src: url('font/RobotoSlab-Light.ttf');
  src: url('font/RobotoSlab-SemiBold.ttf');
  src: url('font/RobotoSlab-ExtraBold.ttf');
  src: url('font/RobotoSlab-ExtraLight.ttf');
  src: url('font/RobotoSlab-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin-top:5%;
  font-family: "Roboto Slab";
  font-size:28pt;
  text-align:center;
  width: 100%;
  animation: curtain normal forwards;
  animation-duration: 2s;
}

canvas {
  margin:auto;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  animation: canvas normal forwards;
  animation-duration: 2s;
}

#watermark { position: absolute; z-index: -1 ; left: 0%; bottom: 0%; width:80% ; text-align: left;margin-right: 20%;font-size: 10vw; opacity: 0.2; }

a {
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}
a:link {
  color: grey;
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}
/* visited link */
a:visited {
  color: darkgrey;
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}
/* mouse over link */
a:hover {
  color: teal;
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}
/* selected link */
a:active {
  color: orange;
}


@keyframes curtain {
  0% {background-color: black; margin-top: 50%; color: BLACK}
  40% {background-color: black; color: BLACK}
  100% { }
}

@keyframes textColor {
  0% {color: black;}
  40% {color: black;}
  100% {}
}

@keyframes canvas {
  0% {opacity: 0;}
  40% {opacity: 0;}
  100% {opacity: 1;}
}

button{
  width : 50px;
  height : 50;
  color : white;
  font-weight: 900;
  background-color: black;
  opacity: 0.2;
  border: none;

  animation: curtain normal forwards;
  animation-duration: 2s;
}
