@font-face {
  font-family: Roboto Slab;
  src: url('font/RobotoSlab-Medium.ttf');
  src: url('font/RobotoSlab-Thin.ttf');
  src: url('font/RobotoSlab-Bold.ttf');
  src: url('font/RobotoSlab-Black.ttf');
  src: url('font/RobotoSlab-Light.ttf');
  src: url('font/RobotoSlab-SemiBold.ttf');
  src: url('font/RobotoSlab-ExtraBold.ttf');
  src: url('font/RobotoSlab-ExtraLight.ttf');
  src: url('font/RobotoSlab-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: yellow;
  margin-top:5%;
  font-family: "Roboto Slab";
  font-size:28pt;
  text-align:center;
  width: 100%;
  animation: curtain normal forwards;
  animation-duration: 2s;
}

#list{
  z-index: 2;
  background: white;
  float:right;
  margin-right:10%;
  border:150% solid white;
  border-style: dotted;
  padding:50px;
}

.sep{
  font-size: 50%;
  opacity: 50%;
}

#watermark { position: fixed; z-index:-1; left: 0%; bottom: 0%; width:80% ; text-align: left;margin-right: 20%;font-size: 10vw; opacity: 0.2; }

a {
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}

a:link {
  color: grey;
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}

a:visited {
  color: grey;
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
}

a:hover {
  color: yellow;
  text-decoration: none;
  animation-name: textColor;
  animation-duration: 2s;
  animation-name: mov;
}

a:active {
  color: teal;
}

.categ{
  color:yellow;
  size:300%;
}


@keyframes curtain {
  0% {background-color: black; margin-top: 50%; color: BLACK}
  40% {background-color: black; color: BLACK}
  100% { }
}

@keyframes mov{
  0% {}
  100%{translate: 10px;}
}


