@font-face {
  font-family: Roboto Slab;
  src: url('../font/RobotoSlab-Medium.ttf');
  src: url('../font/RobotoSlab-Thin.ttf');
  src: url('../font/RobotoSlab-Bold.ttf');
  src: url('../font/RobotoSlab-Black.ttf');
  src: url('../font/RobotoSlab-Light.ttf');
  src: url('../font/RobotoSlab-SemiBold.ttf');
  src: url('../font/RobotoSlab-ExtraBold.ttf');
  src: url('../font/RobotoSlab-ExtraLight.ttf');
  src: url('../font/RobotoSlab-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: yellow;
  margin-top:5%;
  font-family: "Roboto Slab";
  font-size:28pt;
  text-align:center;
  width: 100%;
  animation: curtain normal forwards;
  animation-duration: 2s;
}

#list{
  z-index: 1;
  background: white;
  float:right;
  margin-right:10%;
  border:150% solid white;
  border-style: dotted;
  padding:50px;
}

#watermark {
  position: fixed ;
  z-index: 0 ;
  left: 0%;
  bottom: 0%;
  width:80% ;
  text-align: left;
  margin-right: 20%;
  font-size: 10vw;
  opacity: 0.2;
}

.sep{
  font-size: 50%;
  opacity: 50%;
}

a:hover#watermark
{
  color:black;
  size:300%;
}

a {
  text-decoration: none;
}

a:link {
  color: grey;
}

a:visited {
  color: grey;
}

a:hover {
  color: yellow;
}

a:active {
  color: teal;
}


#watermark a:link{
  color: grey;
}

#watermark a:visited {
  color: grey;
}

#watermark a:hover {
  color: black;
}

#watermark a:active {
  color: teal;
}
@keyframes curtain {
  0% {margin-top: 50%;}
  40% {}
  100% { }
}

@keyframes mov{
  0% {}
  100%{translate: 10px;}
}


